In [4]:
import kaggle
!kaggle competitions download -c commonlit-evaluate-student-summaries

Downloading commonlit-evaluate-student-summaries.zip to c:\Users\anshuman.kundu1\Desktop\Kaggle\2_Commonlit-TextSummaryAnalysis

  0%|          | 0.00/1.05M [00:00<?, ?B/s]
 95%|█████████▌| 1.00M/1.05M [00:01<00:00, 699kB/s]
100%|██████████| 1.05M/1.05M [00:01<00:00, 725kB/s]

In [5]:
from zipfile import ZipFile
zip_file_path = 'commonlit-evaluate-student-summaries.zip'
try:
    with ZipFile(zip_file_path, 'r') as zip:
        zip.extractall()
    print("ZIP file extracted successfully.")
except Exception as e:
    print(f"Error: {e}")

ZIP file extracted successfully.

In [6]:
import pandas as pd
import numpy as np

In [7]:
prompts_train_df = pd.read_csv('prompts_train.csv')
prompts_test_df = pd.read_csv('prompts_test.csv')
summarise_train_df = pd.read_csv('summaries_train.csv')
summarise_test_df = pd.read_csv('summaries_test.csv')

In [13]:
prompts_train_df.head()

,prompt_id,prompt_question,prompt_title,prompt_text
0,39c16e,Summarize at least 3 elements of an ideal trag...,On Tragedy,Chapter 13 \r\nAs the sequel to what has alrea...
1,3b9047,"In complete sentences, summarize the structure...",Egyptian Social Structure,Egyptian society was structured like a pyramid...
2,814d6b,Summarize how the Third Wave developed over su...,The Third Wave,Background \r\nThe Third Wave experiment took ...
3,ebad26,Summarize the various ways the factory would u...,Excerpt from The Jungle,"With one member trimming beef in a cannery, an..."

In [9]:
prompts_test_df.head()

  prompt_id prompt_question     prompt_title       prompt_text
0    abc123    Summarize...  Example Title 1  Heading\nText...
1    def789    Summarize...  Example Title 2  Heading\nText...

In [16]:
summarise_train_df.head(10)

,student_id,prompt_id,text,content,wording
0,000e8c3c7ddb,814d6b,The third wave was an experimentto see how peo...,0.205683,0.380538
1,0020ae56ffbf,ebad26,They would rub it up with soda to make the sme...,-0.548304,0.506755
2,004e978e639e,3b9047,"In Egypt, there were many occupations and soci...",3.128928,4.231226
3,005ab0199905,3b9047,The highest class was Pharaohs these people we...,-0.210614,-0.471415
4,0070c9e7af47,814d6b,The Third Wave developed rapidly because the ...,3.272894,3.219757
5,0071d51dab6d,ebad26,They would use chemicals and substances to cha...,0.205683,0.380538
6,0072b649a88c,3b9047,The Egyptian society is really different from ...,0.205683,0.380538
7,00746c7c79c3,ebad26,"Many times the factories would, according to t...",-0.878889,-0.966330
8,00791789cc1f,39c16e,1 element of an ideal tragedy is that it shoul...,-0.210614,-0.471415
9,0086ef22de8f,39c16e,The three elements of an ideal tragedy are: H...,-0.970237,-0.417058

In [15]:
summarise_test_df.head(5)

     student_id prompt_id            text
0  000000ffffff    abc123  Example text 1
1  111111eeeeee    def789  Example text 2
2  222222cccccc    abc123  Example text 3
3  333333dddddd    def789  Example text 4